<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}, :validate => true) do |f| %>
  <div class="field">
    <%= f.label :state %>
    <br/>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <br/>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= label_tag :birthday %><br/>
    <%= f.text_field :birthday, :class => 'hidden' %>
    <%= text_field_tag :birthday, resource.birthday.try(:strftime, "%m/%d/%Y"), :class => 'date_picker', :id => 'birthday_picker'  %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <br/>
    <%= f.email_field :email, :validate => true %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <%= f.password_field :password, :validate => { :presence => false } %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>
  Unhappy?
  <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.
</p>

<%= link_to "Back", :back %>
