<h2>Sign up</h2>

<%= form_for(@user, :url => registration_path(resource_name), :validate => true) do |f| %>
  <div class="field">
    <%= f.label :state %>
    <br/>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <br/>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <br/>
    <%= f.email_field :email, :validate => true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password, :validate => true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation, :validate => true %>
  </div>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
