<%= form_for(@city, :validate => true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state_id %>
    <%= f.select :state_id, states_select_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
